@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif ;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    background-color: rgb(155, 155, 155);
    font-family: var(--font1);
}

header {
     /* background-color: black;  */
    background-image: linear-gradient(to bottom, rgba(1, 78, 33, 0.919), rgb(0, 0, 0)); 
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8vh;
}
header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    /*text-decoration: underline;*/
    background-color: rgb(255, 255, 255);
    color: rgba(0, 37, 16, 0.919);
    padding: 3px;
    border-radius: 5px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vh;
    font-weight: bold;
}
section  > p {
    padding-bottom: 1em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(60, 60, 60);
    color: white;
    box-shadow: inset 4px 6px 8px 0px rgba(0, 0, 0, 0.405);
    background-size: cover;
    background-attachment: fixed
}
section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 0px black;
}
section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}


footer {
    /* background-color: black; */
    background-image: linear-gradient(to bottom, rgba(1, 78, 33, 0.919), rgb(0, 0, 0)); 
    color: white;
    text-align: center;
    padding: 10px;
}